@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}

.container-mobile {
  max-width: 640px;
  margin: 0 auto;
}
